{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Consulta de Servicios</title>
    <link rel="stylesheet" href="{% static 'css/consultarServicios.css' %}" />
</head>
<body>
    {% include "barra.html"%}
    <div class="container">
        <h1>Consulta de Servicios</h1>
        <div class="contenedor">
            <label for="buscar">Buscar por:</label>
            <div class="form-group">
                <form method="get" action="{% url 'consultarServicios' %}">
                    <select id="filter_by" name="filter_by">
                        <option value="id">ID</option>
                        <option value="nombre">Nombre</option>
                        <option value="categoria">Categoría</option>
                    </select>
                    <input type="search" id="query" name="query" placeholder="Ingrese búsqueda" />
                    <button type="submit" class="save-button">Buscar</button>
                </form>
            </div>
        </div>
        <div class="data-grid">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Categoría</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for servicio in servicios %}
                    <tr>
                        <td>{{ servicio.id }}</td>
                        <td>{{ servicio.nombre }}</td>
                        <td>{{ servicio.categoria }}</td>
                        <td>{{ servicio.descripcion }}</td>
                        <td>
                            <a href="{% url 'modificarEliminarServicio' servicio.id %}" class="modif-button">Modificar/Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="botones-container">
            <a href="{% url 'registrarServicio' %}" class="save-button">Agregar Servicio</a>
        </div>
    </div>
</body>
</html>
