{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Clientes</title>
    <link rel="stylesheet" href="{% static 'css/consultarClientes.css' %}">
</head>
<body>
    {% include "barra.html" %}
    <div>
        <h1>CONSULTAR CLIENTES</h1>
    </div>
    <main>
        <div class="search-section">
            <form method="get">
                <label for="search">Buscar por:</label>
                <select id="filter" name="filter">
                    <option value="nombre" {% if filter == "nombre" %}selected{% endif %}>Nombre</option>
                    <option value="telefono" {% if filter == "telefono" %}selected{% endif %}>Teléfono</option>
                    <option value="correo" {% if filter == "correo" %}selected{% endif %}>Correo electrónico</option>
                    <option value="dui" {% if filter == "dui" %}selected{% endif %}>DUI</option>
                </select>
                <input type="text" id="search" name="search" value="{{ search }}" placeholder="Buscar...">
                <button type="submit">Buscar</button>
                <a href="{% url 'registrarCliente' %}" class="button-link" id="new-client">Nuevo Cliente</a>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>DUI</th>
                    <th>Teléfono</th>
                    <th>Correo electrónico</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in clientes %}
                <tr>
                    <td>{{c.id}}</td>
                    <td>{{ c.nombre }}</td>
                    <td>{{ c.dui }}</td>
                    <td>{{ c.telefono }}</td>
                    <td>{{ c.correo }}</td>
                    <td><a href="{% url 'modificarEliminarCliente' c.id %}">Opciones</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
