<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Menú de Consultas{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <div class="menu">
        <h1>Menú de Consultas</h1>
        <a href="{% url 'consultar_ventas' %}">Consultar Ventas</a>
        <a href="{% url 'consultar_clientes' %}">Consultar Clientes</a>
        <a href="{% url 'consultarServicios' %}">Consultar Servicios</a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
