{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Servicio</title>
    <link rel="stylesheet" href="{% static 'css/registrarServicios.css' %}">
</head>
<body>
    {% include "barra.html" %}
    <div class="spacer"></div>
    <div class="mainContainer">
        <div class="container">
            <h1>Registrar Servicio</h1>
            <form method="post">
                {% csrf_token %}
                {{ servicioForm.as_p }}
                {{ periodoForm.as_p }}
                <div class="buttonContainer">
                    <a href="{% url 'consultarServicios' %}" class="cancelBtn">Cancelar</a>
                    <button type="submit" class="registerBtn">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>