/* modificarEliminarServicio.css */

/* Estilos para el contenedor principal */
.mainContainer {
    padding: 20px;
}

/* Estilos para el contenedor interno */
.container {
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para el título */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los botones */
.buttonContainer {
    margin-top: 20px;
    text-align: center;
}

.cancelBtn {
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.registerBtn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.deleteBtn {
    padding: 8px 16px;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
